:root {
    /* Light mode colors */
    --primary-bg-color-light: #ffffff;
    --secondary-bg-color-light: #f0f0f0;
    --primary-text-color-light: #1b1b1b;
    --secondary-text-color-light: #999999;
    --accent-color-light: #7bc862;
    --border-color-light: #e0e0e0;
    --alpha-color-light: rgba(0, 0, 0, 0.5);
    --alpha-color-light-hover: rgba(0, 0, 0, 0.2);

    /* Dark mode colors */
    --primary-bg-color-dark: #1c1c1c;
    --secondary-bg-color-dark: #2f2f2f;
    --primary-text-color-dark: #ffffff;
    --secondary-text-color-dark: #aaaaaa;
    --accent-color-dark: #a695e7;
    --border-color-dark: #444444;
    --alpha-color-dark: rgba(255, 255, 255, 0.5);
    --alpha-color-dark-hover: rgba(255, 255, 255, 0.2);

}

/* Default to dark mode */
:root {
    --primary-bg-color: var(--primary-bg-color-dark);
    --secondary-bg-color: var(--secondary-bg-color-dark);
    --primary-text-color: var(--primary-text-color-dark);
    --secondary-text-color: var(--secondary-text-color-dark);
    --accent-color: var(--accent-color-dark);
    --border-color: var(--border-color-dark);
    --alpha-color: var(--alpha-color-dark);
    --alpha-color-hover: var(--alpha-color-dark-hover);
}

/* Light mode */
body.light-mode {
   --primary-bg-color: var(--primary-bg-color-light);
    --secondary-bg-color: var(--secondary-bg-color-light);
    --primary-text-color: var(--primary-text-color-light);
    --secondary-text-color: var(--secondary-text-color-light);
    --accent-color: var(--accent-color-light);
    --border-color: var(--border-color-light);
    --alpha-color: var(--alpha-color-light);
    --alpha-color-hover: var(--alpha-color-light-hover);
}

body {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
}
